<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

<div class="min-h-screen flex items-center justify-center">

    <div class="bg-zinc-900 text-white px-10 py-10 border-2 border-red-600 rounded-2xl w-[420px] flex flex-col gap-6 shadow-xl">

        <h1 class="text-4xl font-extrabold text-center">
            Bonjour !
        </h1>

        <p class="text-center text-gray-300">
            Connectez-vous pour retrouver vos films & séries favoris.
        </p>

        {% if error is not none %}
        <div class="text-red-600 text-sm font-medium mb-4 flex items-center">
            <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
            </svg>
            <span>{{ error }}</span>
        </div>
        {% endif %}

        <form method="POST" action="{{ url_for('connexion') }}">

            <!-- PSEUDO -->
            <div class="flex flex-col gap-2">
                <label class="text-sm text-gray-400">PSEUDO</label>

                <div class="flex items-center bg-zinc-800 px-4 py-3 rounded-xl border border-zinc-700 focus-within:border-red-500 transition">
                    
                    <img src="{{ url_for('static', filename='pseudo.png') }}" class="w-5 h-5 mr-3 opacity-70">

                    <input 
                        type="text" 
                        placeholder="Votre pseudo"
                        class="bg-transparent w-full outline-none text-white placeholder-gray-500"
                        name="pseudo"
                    >
                </div>
            </div>


            <!-- PASSWORD -->
            <div class="flex flex-col gap-2">
                <label class="text-sm text-gray-400">MOT DE PASSE</label>

                <div class="flex items-center bg-zinc-800 px-4 py-3 rounded-xl border border-zinc-700 focus-within:border-red-500 transition">
                    
                    <img src="{{ url_for('static', filename='verrouiller.png') }}" class="w-5 h-5 mr-3 opacity-70">

                    <input 
                        type="password" 
                        placeholder="Votre mot de passe"
                        class="bg-transparent w-full outline-none text-white placeholder-gray-500"
                        method="POST"
                        action=""
                        name="mdp"
                    >
                </div>
            </div>


            <!-- BUTTON -->
            <button type="submit" class="mt-4 w-full bg-red-600 hover:bg-red-700 transition py-3 rounded-xl font-semibold">
                Se connecter
            </button>
        
        </form>

        <!-- SIGN UP -->
        <p class="text-center text-gray-400 text-sm">
            Vous n'avez pas encore de compte ?
            <a href="/creer_compte" class="text-red-500 hover:underline">Créer un compte</a>
        </p>

    </div>

</div>

{% endblock %}