<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

<div class="min-h-screen flex items-center justify-center">

    <div class="bg-zinc-900 text-white px-10 py-10 border-2 border-red-600 rounded-2xl w-[420px] flex flex-col gap-6 shadow-xl">

        <h1 class="text-4xl font-extrabold text-center">
            Bonjour !
        </h1>

        <p class="text-center text-gray-300">
            Créez votre compte pour retrouver vos films & séries favoris.
        </p>

        {% if error is not none %}
        <h1>{{ error }}</h1>
        {% endif %}

        <form method="POST" action="{{ url_for('creer_compte') }}">

            <!-- EMAIL -->
            <div class="flex flex-col gap-2">
                <label class="text-sm text-gray-400">ADRESSE EMAIL</label>

                <div class="flex items-center bg-zinc-800 px-4 py-3 rounded-xl border border-zinc-700 focus-within:border-red-500 transition">
                    
                    <img src="{{ url_for('static', filename='e-mail.png') }}" class="w-5 h-5 mr-3 opacity-70">

                    <input 
                        type="email" 
                        placeholder="votre@email.com"
                        class="bg-transparent w-full outline-none text-white placeholder-gray-500"
                        name="email"
                    >
                </div>
            </div>


            <!-- PASSWORD -->
            <div class="flex flex-col gap-2">
                <label class="text-sm text-gray-400">MOT DE PASSE</label>

                <div class="flex items-center bg-zinc-800 px-4 py-3 rounded-xl border border-zinc-700 focus-within:border-red-500 transition">
                    
                    <img src="{{ url_for('static', filename='verrouiller.png') }}" class="w-5 h-5 mr-3 opacity-70">

                    <input 
                        type="password" 
                        placeholder="Votre mot de passe"
                        class="bg-transparent w-full outline-none text-white placeholder-gray-500"
                        name="mdp"
                    >
                </div>
            </div>

            <!-- PASSWORD CONFIRMATION -->
            <div class="flex flex-col gap-2">
                <label class="text-sm text-gray-400">CONFIRMER LE MOT DE PASSE</label>

                <div class="flex items-center bg-zinc-800 px-4 py-3 rounded-xl border border-zinc-700 focus-within:border-red-500 transition">
                    
                    <img src="{{ url_for('static', filename='verrouiller.png') }}" class="w-5 h-5 mr-3 opacity-70">

                    <input 
                        type="password" 
                        placeholder="Confirmez votre mot de passe"
                        class="bg-transparent w-full outline-none text-white placeholder-gray-500"
                        name="mdp_confirm"
                    >
                </div>
            </div>


            <!-- BUTTON -->
            <button type="submit" class="mt-4 w-full bg-red-600 hover:bg-red-700 transition py-3 rounded-xl font-semibold">
                Créer un compte
            </button>
        
        </form>


        <!-- SIGN UP -->
        <p class="text-center text-gray-400 text-sm">
            Vous avez déjà un compte ?
            <a href="/connexion" class="text-red-500 hover:underline">Se connecter</a>
        </p>

    </div>

</div>

{% endblock %}