<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

<div class="bg-black w-full p-14">

    <div class="w-full flex justify-between items-center mb-8">
        <h1 class="text-5xl font-bold drop-shadow-[0_2px_10px_rgba(0,0,0,0.8)]">
            Découvrez vos films préférés <span class="inline-block ml-2">💖</span>
        </h1>

        <div class="relative inline-block text-left">
            <select class="bg-[#2D2D3A] text-white px-6 py-2 rounded-full border-none outline-none appearance-none pr-10 cursor-pointer hover:bg-[#3D3D4A] transition">
                <option value="">Choisir ↓</option>
                <option value="">Action</option>
                <option value="drame">Drame</option>
                <option value="comedie">Comédie</option>
                <option value="sf">Science-Fiction</option>
            </select>
        </div>
    </div>

    <!-- CONTENEUR DES FILMS -->
    <div class="flex gap-8 flex-wrap">

        {% for film in films %}
        <article class="flex flex-col items-center break-words w-40">
            
            <div class="w-40">
                <a href="/film/{{ film['_id'] }}">
                <img src="{{ film['poster'] }}" 
                    alt="poster du film" 
                    class="w-full h-full object-cover rounded-[2rem] shadow-md">
                </a>
            </div>

            <div class="text-center mt-2">
                <h3 class="text-red-700 font-medium leading-tight"> {{ film["titre"] }} </h3>
                <h4 class="text-red-700 text-sm"> {{ film["producteur"] }} </h4>
                <h4 class="text-red-700 text-sm opacity-80"> {{ film["date"] }} </h4>
            </div>

        </article>
        {% endfor %}

    </div>

</div>

{% endblock %}